/*----- blog post item start -----*/
.blog {
    &-thumb {
        img {
            width: 100%;
        }
    }
    &-content {
        padding-top: 20px;
        margin-bottom: -6px;
    }
    &-title {
        color: $black-soft;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.6;
        padding-bottom: 10px;
        a {
            color: $black-soft;
            &:hover {
                color: $theme-color;
            }
        }
    }
    &-meta {
        padding-bottom: 20px;
        li {
            color: $paragraph;
            display: inline-block;
            font-size: 14px;
            span {
                font-weight: 600;
                color: $black-soft;
            }
        }
    }
}
.read-more {
    color: $black-soft;
    font-size: 15px;
    font-weight: 500;
    font-family: $font-family-heading;
}

/*----- blog post item end -----*/

/*----- blog details area start -----*/
.blog-details {
    margin-bottom: -10px;
    blockquote {
        border-left: 5px solid $theme-color;
        margin: 25px 32px 25px 30px;
        background-color: #f8f8f8;
        padding: 15px;
        // responsive
        @media #{$xs-device} {
            margin: 25px 15px 25px 15px;
        }
    }
    .blog-title {
        font-size: 24px;
        // responsive
        @media #{$sm-device} {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.3;
        }
    }
}

/*----- blog details area end -----*/

/*--- blog comment section start ---*/
.comment-section {
    margin-top: -3px;
    h5 {
        line-height: 1;
        padding-bottom: 15px;
    }
    ul {
        li {
            display: flex;
            padding: 10px 20px;
            margin-bottom: 30px;
            border: 1px solid $bdr-color;
            &:last-child {
                margin-bottom: 5px;
            }
            // Responsive
            @media #{$xxs-device} {
                display: block;
            }
            .author-avatar {
                flex-basis: 66px;
                max-height: 62px;
                margin-right: 10px;
                // Responsive
                @media #{$xxs-device} {
                    flex-basis: 100%;
                    max-width: 66px;
                    height: 62px;
                }
            }
            &.comment-children {
                margin-left: 40px;
                // responsive
                @media #{$xxs-device} {
                    margin-left: 20px;
                }
            }
            .comment-body {
                flex-basis: 100%;
                h5 {
                    font-size: 14px;
                    padding-bottom: 5px;
                    font-family: $font-family-base;
                }
                .comment-post-date {
                    font-size: 13px;
                    padding-bottom: 10px;
                }
                .reply-btn {
                    float: right;
                    a {
                        color: $black-soft;
                        font-size: 12px;
                        display: inline-block;
                        padding: 4px 15px;
                        border-radius: 20px;
                        text-transform: capitalize;
                        border: 1px solid $bdr-color;
                        &:hover {
                            color: $white;
                            border-color: $theme-color;
                            background-color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}
/*--- blog comment section end ---*/

/*------ blog comment box start -----*/
.blog-comment-wrapper {
    margin-top: -10px;
    h3 {
        color: $black-soft;
        font-size: 18px;
        line-height: 1;
        font-weight: 500;
        padding-bottom: 15px;
        text-transform: uppercase;
        border-bottom: 1px solid #f0f0f0;
    }
    p {
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .comment-post-box {
        label {
            color: $black-soft;
            font-weight: 500;
            margin-bottom: 10px;
            display: block;
            text-transform: capitalize;
        }
        .coment-field {
            background: #f8f8f8;
            border: none;
            color: $paragraph;
            padding: 8px 10px;
            width: 100%;
            // responsive
            @media #{$sm-device} {
                margin-bottom: 20px;
            }
        }
        textarea {
            height: 130px;
            margin-bottom: 20px;
            padding: 10px;
            width: 100%;
            background: #f8f8f8;
            border: none;
        }
        .coment-btn {
            margin-top: 30px;
            // responsive
            @media #{$sm-device} {
                margin-top: 10px;
            }
        }
    }
}

/*------- blog comment box end --------*/